---
import { getCldImageUrl } from "astro-cloudinary/helpers"
import Layout from "../../layouts/Layout.astro"
import { Story } from "../../components/Story"
import { db } from "../../db"
import { storiesTable } from "../../db/schema"
import { eq } from "drizzle-orm"
import { RATINGS_COOKIE } from "../../CONSTANTS"

const { id, folder } = Astro.params

const imgSrc = `${folder}/${id}`

const dbStory = await db
	.select()
	.from(storiesTable)
	.where(eq(storiesTable.imageId, id!))
	.limit(1)

const firstStory = dbStory[0] || {}

const image = getCldImageUrl({
	src: imgSrc || "",
})

const userRatingsCookie = Astro.cookies.get(RATINGS_COOKIE)

const userRatings = userRatingsCookie ? userRatingsCookie.json() : {}

const userRating = (userRatings as Record<string, string | number>)?.[id!] || 0
---

<Layout title="Your halloween story">
	<main class="max-w-[720px] mx-auto">
		<div>
			<a href="/">Go home ↩</a>
		</div>

		<Story
			image={image}
			transformedImage={firstStory.transformedImage}
			story={firstStory.story}
			prompt={firstStory.prompt}
			imageId={id!}
			rating={firstStory.rating || 0}
			userRating={Number(userRating)}
			numOfRatings={firstStory.numOfRatings || 0}
			client:load
		/>
	</main>
</Layout>

<style>
	h3 {
		font-size: 2rem;
		font-weight: bold;
	}
</style>
