---
import { getCldImageUrl } from "astro-cloudinary/helpers"
import Layout from "../../layouts/Layout.astro"
import { Story } from "../../components/Story"
import { db } from "../../db"
import { storiesTable } from "../../db/schema"
import { eq } from "drizzle-orm"

const { id, folder } = Astro.params

const imgSrc = `${folder}/${id}`

const dbStory = await db
	.select()
	.from(storiesTable)
	.where(eq(storiesTable.imageId, id!))
	.limit(1)

const firstStory = dbStory[0] || {}

const image = getCldImageUrl({
	src: imgSrc || "",
})
---

<Layout title="Your halloween story">
	<main class="max-w-[720px] mx-auto">
		<div>
			<a href="/">Go home ↩</a>
		</div>

		<Story
			image={image}
			transformedImage={firstStory.transformedImage}
			story={firstStory.story}
			prompt={firstStory.prompt}
			imageId={id!}
			client:load
		/>
	</main>
</Layout>

<style>
	h3 {
		font-size: 2rem;
		font-weight: bold;
	}
</style>
